project: aqi_prediction
registry: data/registry.db

provider: local

online_store:
    type: postgres
    host: aws-0-ap-northeast-2.pooler.supabase.com
    port: 6543
    database: postgres
    user: postgres.jczrxxklfkmdprztxuww
    db_schema: public
    password: __FEAST_PASSWORD__